nav {
    font-family: monospace Monaco;
    margin: 10px auto;
    background-color: #3F4F44;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 50px #3f4f44;
    width: 95%;
    max-width: 95%;
}
/* Unordered list styling using flex for inline layout */
nav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
/* List items styling */
nav li {
    /* Flex items are inline by default in a flex container */

}
/* Link styling */
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}
/* Hover effect for links */
nav li a:hover {
    background-color: #F39E60;
}